@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Press+Start+2P&family=VT323&display=swap');

body{
	background-color: $bgcolor;
	font-family: 'Lato', sans-serif;
}

img
{
	max-width: 100%;
}

.container{
	width: 100%;
	margin: 0px auto;
	padding: 0px;
	box-sizing: border-box;

	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-content: flex-start;
	align-items: stetch;
}

.fullwidth
{
	// width: 98%;
	// margin: 1%;
	// padding: 1%;

	width: calc(100% - $flexboxmargin - $flexboxpadding);
	margin: $flexboxmargin;
	padding: $flexboxpadding;

	box-sizing: border-box;
	flex-wrap: wrap;

	background-color: $flexboxcolor;
	border-radius: $radius;
}

.halfwidth
{
	// width: 48%;
	// margin: 1%;
	// padding: 1%;

	width: calc(50% - $flexboxmargin - $flexboxpadding);
	margin: $flexboxmargin;
	padding: $flexboxpadding;

	box-sizing: border-box;

	background-color: $flexboxcolor;
	border-radius: $radius;
}

.thirdwidth
{
	// width: 31.333333333333333333333333333333333333333333333333333333333333333333%;
	// margin: 1%;
	// padding: 1%;

	width: calc(33.333333333333333333333333333333333333333333333333% - $flexboxmargin - $flexboxpadding);
	margin: $flexboxmargin;
	padding: $flexboxpadding;

	box-sizing: border-box;

	background-color: $flexboxcolor;
	border-radius: $radius;
}

.quarterwidth
{
	// width: 23%;
	// margin: 1%;
	// padding: 1%;

	width: calc(25% - $flexboxmargin - $flexboxpadding);
	margin: $flexboxmargin;
	padding: $flexboxpadding;

	box-sizing: border-box;

	background-color: $flexboxcolor;
	border-radius: $radius;
}

.eighthwidth
{
	// width: 10.5%;
	// margin: 1%;
	// padding: 1%;

	width: calc(12.5% - $flexboxmargin - $flexboxpadding);
	margin: $flexboxmargin;
	padding: $flexboxpadding;

	box-sizing: border-box;

	background-color: $flexboxcolor;
	border-radius: $radius;
}

.center
{
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.parallax {
	perspective: 1px;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;

	// height: 100%;

	// background-attachment: fixed;
	// background-repeat: no-repeat;
	// background-position: center;
	// background-size: cover;
}

.parallax_layer {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.title {
	height: 200px;
	position: relative;
	transform-style: preserve-3d;
	background-color: $bgcolor;

	z-index: 900;
	box-shadow: 0px 0px 32px 10px rgba(31, 36, 58, 0.6);
}

.parallax_scene1 {
	position: relative;
	height: 100vh;
	min-height: 500px;
	transform-style: preserve-3d;

	z-index: 1;
}

.parallax_scene2 {
	top: 900px;
	position: relative;
	height: 100vh;
	transform-style: preserve-3d;

	z-index: 3;
}

.parallax_scene3 {
	top: 1800px;
	position: relative;
	height: 100vh;
	transform-style: preserve-3d;

	z-index: 2;
}

.parallax_scene4 {
	top: 2700px;
	position: relative;
	height: 100vh;
	transform-style: preserve-3d;

	z-index: 5;
}

.parallax_scene5 {
	top: 3600px;
	position: relative;
	height: 100vh;
	transform-style: preserve-3d;

	z-index: 4;
}

.parallax_scene6 {
	top: 4500px;
	position: relative;
	height: 100vh;
	transform-style: preserve-3d;

	z-index: 7;
}

.end {
	top: 4700px;
	height: 100px;
	position: relative;

	z-index: 6;
}

.parallax_scene1-bg {
	transform: translateZ(-2px) scale(3.1);
	background-image: url("../dist/img/bg1.png");
	
	background-repeat: no-repeat;
	background-size: cover;
}

.parallax_scene1-character {
	transform: translateZ(0) scale(0.5);
	background-image: url("../dist/img/grimblo.png");

	background-repeat: no-repeat;
	// background-position: right;

	// padding-right: 1500px;

	position: absolute;
	top: 0%;
	left: 50%;
}

.parallax_scene2-bg {
	transform: translateZ(-1px) scale(2.1);
	background-image: url("../dist/img/bg2.png");
	
	background-repeat: no-repeat;
	background-size: cover;

	box-shadow: 0px 0px 32px 10px rgba(31, 36, 58, 0.6);
}

.parallax_scene2-character {
	transform: translateZ(0) scale(0.5);
	background-image: url("../dist/img/grimblo2.png");

	background-repeat: no-repeat;
	background-position: left;
	// padding-bottom: 100px;
}

.parallax_scene3-bg {
	transform: translateZ(-2px) scale(3.1);
	background-image: url("../dist/img/bg3.png");
	
	background-repeat: no-repeat;
	background-size: cover;

	box-shadow: 0px 0px 32px 10px rgba(31, 36, 58, 0.6);
}

.parallax_scene3-character {
	transform: translateZ(0) scale(0.5);
	background-image: url("../dist/img/grimblo2.png");

	background-repeat: no-repeat;
	background-position: right;
	// padding-bottom: 100px;
}

.parallax_scene4-bg {
	transform: translateZ(-1px) scale(2.1);
	background-image: url("../dist/img/bg4.png");
	
	background-repeat: no-repeat;
	background-size: cover;

	box-shadow: 0px 0px 32px 10px rgba(31, 36, 58, 0.6);
}

.parallax_scene4-character {
	transform: translateZ(0) scale(0.5);
	background-image: url("../dist/img/grimblo.png");

	background-repeat: no-repeat;
	background-position: right;
	// padding-bottom: 100px;
}

.parallax_scene5-bg {
	transform: translateZ(-2px) scale(3.1);
	background-image: url("../dist/img/bg5.png");
	
	background-repeat: no-repeat;
	background-size: cover;

	box-shadow: 0px 0px 32px 10px rgba(31, 36, 58, 0.6);
}

.parallax_scene5-character {
	transform: translateZ(0) scale(0.5);
	background-image: url("../dist/img/grimblo2.png");

	background-repeat: no-repeat;
	background-position: left;
	// padding-bottom: 100px;
}

.parallax_scene6-bg {
	transform: translateZ(-1px) scale(2.1);
	background-image: url("../dist/img/bg6.png");
	
	background-repeat: no-repeat;
	background-size: cover;

	box-shadow: 0px 0px 32px 10px rgba(31, 36, 58, 0.6);
}

.parallax_scene6-character {
	transform: translateZ(0) scale(0.5);
	background-image: url("../dist/img/grimblo.png");

	background-repeat: no-repeat;
	background-position: center;
	padding-top: 1400px;

	// position: absolute;
	// top: 30%;
	// left: 17.5%;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200px;
}

.invisible {
	background-color: rgba(0,0,0,0);
}

h1 {
	font-family: 'Press Start 2P', cursive;
	text-align: center;
	font-size: 3.5em;
	color: white;
	// top: 50%;

	// z-index: 999;
}

p {
	font-family: 'VT323', monospace;
	font-size: 1.75em;
	text-align: center;
}